.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
}

.heading {
    color: #000;
    font-family: Eudoxus Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    /* 133.333% */
}

.subheading {
    color: rgba(0, 0, 0, 0.50);
    font-family: Eudoxus Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
}

.create {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create img {
    margin-right: 6px;
}

.body {
    width: 1258px;
    /* height: 596px; */
    height: 356px;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #DAE6FF;
    background: #FFF;
    box-sizing: border-box;
}

.search {
    display: flex;
    align-items: center;

    width: 315px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #DAE6FF;
    background: #FFF;
    box-sizing: border-box;
    padding: 12px;
}

.search input {
    background: transparent;
    height: 100%;
    flex-grow: 1;
    outline: 0;
    border: none;
    color: rgba(0, 0, 0, 0.50);
    font-family: Eudoxus Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
}

.dropdown label {
    color: rgba(0, 0, 0, 0.50);
    font-family: Eudoxus Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
    padding-right: 8px;
}

.dropdown select {
    outline: 0;
    border: none;
    width: 138px;
    height: 50px;
    border-radius: 10px;
    border: 1.5px solid #E9E9E9;
    color: #000;
    font-family: Eudoxus Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 200% */
}

.top {
    display: flex;
    justify-content: space-between;
}

.options {
    display: flex;
    justify-content: space-between;
    width: 48%;
}

table {
    width: 1193px;
    height: 48px;
    border-collapse: separate;
    border-spacing: 25px 0;
}

.thead {
    border-radius: 10px;
    border: 1.5px solid #EAEAEA;
    background: #F8F8F8;
    color: rgba(0, 0, 0, 0.50);
    font-family: Eudoxus Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

td {
    color: #000;
    font-family: Eudoxus Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.campaign {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}

.campaign img {
    width: 58px;
    height: 54px;
    padding-right: 13px;
}

.campaign-text h3 {
    color: #000;
    font-family: Eudoxus Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 228.571% */
}

.campaign-text h4 {
    color: rgba(0, 0, 0, 0.60);
    font-family: Eudoxus Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 32px; */
    /* 266.667% */
}