.campaign-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cheader {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; */
    box-sizing: border-box;
    width: 100%;
    padding: 40px;
}

.cbody {
    width: 1282px;
    height: 279px;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #DAE6FF;
    background: #FFF;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.continue {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 16px 88px;
}

.cap {
    width: 100%;
    padding-bottom: 8px;
    display: flex;
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-bottom: 16px;
}

.cap h3 {
    color: #000;
    font-family: Eudoxus Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-right: 8px;
    /* 200% */
}

.cap h5 {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.50);
    font-family: Eudoxus Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 228.571% */
}