.container {
  margin: auto;
  margin: 80px 0;
  width: 1108px;
}

.progress-bar {
  left: 40px;
  position: relative;
  width: 90%;
  height: 2px;
  background-color: #E7EAF0;
}

.progress-bar-filled {
  height: 100%;
  background-color: #FFB963;
  transition: .5s ease-out;
}

.stepper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;
  /* border: 6px solid #FDFDFF; */
  border-radius: 50px;
  /* background-color: #F29A2E; */
  transition: .5s ease-out;
}

.stepper-alt {
  border-color: #E4EAF2;
  background-color: #E4EAF2;
}

.container-new {
  top: -25px;
  width: 1108px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.caption h5 {
  position: relative;
  margin-top: 5px;
  color: #0B1A33;
  font-family: Eudoxus Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.32px;
}